logs
.idea
.vscode
*.tmp
BookStore
BookStore.exe
service104
servicelocal
commentsRouter_*
*-remote
CryptoCurrencyTradingUI
cryptocurrencytradingui
cryptocurrencytradingui1
CryptoCurrencyTradingUI1
vendor
workers/MarketWorker/MarketWorker
kill.sh
run.sh
clear_cache.sh
check.sh
build.sh
pids
database/database
logs.txt
ui
